@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* FONTS */
h3{
    color:rgb(40, 107, 130);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: Center;
    font-size: 100px;
}


h2{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

/* Background */
body{
    background-color: rgb(40, 107, 130);
}

/* Nav Bar muckng about */

.navbar{
    flex:1;
    font-size: 100px;
    text-align: center;
}

/* Links */


a{
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

a:link{
    color: antiquewhite;
    text-decoration: none;
}

a:hover {
    font-size:50%;
}

a:visited{
    color: antiquewhite;
}



@media only screen and (min-width: 800pt) {
    .grid-item {
      grid-template-columns: 40% 40%;
      padding: 5px;
      padding-left: 14%;
      margin: auto
    }
    .grid-item > div {
      margin: auto;
      padding: 5px
    }
  }
