@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* FONTS */
h3, p{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: Center;
    font-size: 100px;

}

h2{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

/* Background */
body{
    background-color: rgb(40, 107, 130);
}

/* Nav Bar muckng about */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6cm; 
    font-size: 100px;
}

.navbar{
    flex:1;
    text-align: center;
    font-size: 100px;

}

/* Links */

li{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: antiquewhite;
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    position: relative;
}

li a:link{
    color: antiquewhite;
    text-decoration: none;
}

li a:visited{
    color: antiquewhite;
}

/* Underline animation for links*/

li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

li:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}

