/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font, from google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: can just put 'red' but also use hex r,g,b numbers*/
/* White = 255,255,255 / Black = 0,0,0 */
body{
    background-color: rgb(255, 255, 255);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
/* Tags are like the variables that you can apply any style to */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: bisque;
    border-width: 10px;
    border-style: dashed;
    border-radius: 50px;
    border-color: pink;
}


/* Set the appearance of the class, chart */
.chart{
    background-color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px; /*the higher this number the rounder*/
    border-color: red;
}
    

/* Set the appearance for a particular chart */
#Chart1{
    border-color: blue;   
}