@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* FONTS */
h3, p{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: Center;
    font-size: 100px;

}

h2{
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

/* Background */
body{
    background-color: rgb(40, 107, 130);
}

/* Nav Bar muckng about */

/* nav{ 
    align-items: center;
    display: flex;
    font-size: 100px;
    height: 6cm; 
    justify-content: space-between;
}
*/

.navbar{
    flex:1;
    font-size: 100px;
    text-align: center;
}

/* Links */


a{
    color: antiquewhite;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

a:link{
    color: antiquewhite;
    text-decoration: none;
}

a:hover {font-size:50%;}

a:visited{
    color: antiquewhite;
}

/* Underline animation for links*/

a:after{
    background-color: antiquewhite;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-out;
    width: 100%;
}

a:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}

/*
@media only screen and (min-width: 800pt) {
    .grid-item {
      grid-template-columns: 40% 40%;
      padding: 5px;
      padding-left: 14%;
      margin: auto
    }
    .grid-item > div {
      margin: auto;
      padding: 5px
    }
  }
*/