/* Import a font, from google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* FONTS: */

.title{
    color: antiquewhite;
    text-align: center;
    font-size: 35px;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 40px;
}

h2{ 
    color:antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 70px;
}

h3{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 23px;
}

/* Areas of the page */

body{
    background-color: rgb(40, 107, 130);
}


.navbar{
    flex:1;
    text-align: center;
    font-size: 18px;
}

/* Chapter Background */

.intro{
    margin: auto;
    max-width: 1000px;
    background-color: rgb(202,255,185);
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(0, 0, 0);
}

.chapter1{
    margin: auto;
    max-width: 1100px;
    background-color: #58C1C1; 
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(0, 0, 0);
}

.chapter2{
    margin: auto;
    max-width: 1100px;
    background-color: #58B4E1; 
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(0, 0, 0);
}

/* Charts */

.chart{
    background-color:white;
    border-color: rgb(40, 107, 130);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%;
    max-width: 1000px;
    text-align: center;
    width: 350px;
}

.map{
    background-color:white;
    border-color: rgb(40, 107, 130);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%;
    max-width: 1000px;
    text-align: center;
    width: 750px;
}

.chartlong{
    background-color:white;
    border-color: rgb(40, 107, 130);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%;
    max-width: 1000px;
    text-align: center;
    width: 800px;
}

/* .grid{
    display: grid;
    max-width: 800px; 
    grid-column-gap: 1px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(1,1fr);
}

.grid > div{
    background-color: #ffffff;
    width: 800px;
}

.dashboard{
    background-color:white;
    border-color: rgb(40, 107, 130);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%; 
    max-width: 1000px;
    text-align: center;
    width: 425px;
} */

.chartresults{
    background-color:white;
    border-color: rgb(40, 107, 130);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%;
    max-width: 1000px;
    text-align: center;
    width: 600px;
}

.chart4-C{
    background-color:white;
    border-color: rgb(40, 107, 130);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%;
    max-width: 1000px;
    text-align: center;
    width: 500px;
}


/*Links*/

a{
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

a:hover {font-size:125%;}

a:link{
    color: antiquewhite;
    text-decoration: none;
}

a:visited{
    color: antiquewhite;
}

a.one{
    color: antiquewhite;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:after {color:#0000ff;}
a.one:hover {font-size:150%; color:#ffcc00;}
a.one:hover:after {color:#0000ff;}

/*
a{
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: lightgreen;
    font-variant: small;
    margin:20px
}

#link1{
    border-color:pink;
    border-style:dashed;
    background-color: red
}

#link2{
    border:2px;
    border-color:black;
    border-style: solid;
    border-radius: 5px;

}

#link3{
    background-color: rgba(0, 47, 167, .5);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
    
}

#link3:hover{

    background-color: rgba(0, 47, 167, .8);

    border:2px;
    border-color:yellow;
    border-style: solid;
    
}

#link4{
    background-color: yellow;

    padding:20px;
    
    border:20px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:grey;
    
    text-decoration: none;

    animation: border-pulsate1 4s infinite;
}


 CODE FOR PUSLING BORDERS 
  @keyframes border-pulsate1 {
    0%   { border-color: rgba(230, 34, 75, 1); }
    50%  { border-color: rgba(230, 34, 75, 0); }
    100% { border-color: rgba(230, 34, 75, 1); }
  }
  
  @keyframes border-pulsate2 {
    0%   { border-color: #22e68b}
    10%  { border-color: rgba(230, 34, 75, 0)}
    20%  { border-color: rgba(230, 34, 75)}
    30%  { border-color: rgba(230, 34, 75, 0)}
    40%  { border-color: rgba(0, 47, 167)}
    50%  { border-color: rgba(230, 34, 75, 0)}
    60%  { border-color: rgba(250, 250, 0)}
    70%  { border-color: rgba(230, 34, 75, 0)}
    80% { border-color: #22e68b}
  }

  @keyframes myAnimation {
    0%   {border-color: #22e68b; background-color: black}      
    50%  {border-color: black; background-color:yellow}
  }
  
*/
